{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky" style="overflow: visible;">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
    <span class="nav__sub-title">Now Playing</span>
    <p align="left" style="margin-left: -12px;">
      <a href="https://spotify-github-profile.kittinanx.com/api/view?uid=tgkojffehydttzptcg2d1dnxt&redirect=true">
        <img src="https://spotify-github-profile.kittinanx.com/api/view?uid=tgkojffehydttzptcg2d1dnxt&cover_image=true&theme=spotify-embed&show_offline=false&background_color=121212&interchange=false&profanity=false&bar_color=53b14f&bar_color_cover=true&mode=light">
      </a>
    </p>
  {% endif %}
  </div>
{% endif %}
